/* General setup */

* {
  box-sizing: border-box;
}


header{
    text-align: center;
    
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  background-color: beige

}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

section, aside, , footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
  
}

/* WRITE YOUR CODE BELOW HERE */

p {
  line-height: 1.5;
   font-family: 'Lobster', cursive;
    letter-spacing: 0.05em
}
h2 {
  font-family: 'Cinzel', serif;
}

#links{
font-family: 'Satisfy', cursive;

}

a:hover  {
     text-decoration: none;
}

li{
     line-height: 1.5;
}

#list{
    font-size: 1.9em;
    list-style-type: none;
     
    
    
}

nav ul li a {
   text-decoration: none;
    outline-offset: 2em;
    font-family:serif;
    border-style: solid;
    margin: 1px;
    line-height: 1;
    color:brown;
    
}


nav ul li a:hover{
    text-decoration: none;
    border-style:double
}
p a















